<div class="flex gap-4">
  <div class="w-60 hidden lg:block">
    <ng-container *ngIf="{profile: profile$ | async} as vm">
      <app-profile-sidebar [profile]="vm?.profile"></app-profile-sidebar>
    </ng-container>

  </div>
  <div class="flex-grow">
    <ng-container *ngIf="{posts: posts$ | async, profile: profile$ | async} as vm">
      <app-post-list [posts]="vm?.posts" [profile]="vm.profile"></app-post-list>
    </ng-container>

  </div>
  <div class="w-72 hidden lg:block">
    <ng-container *ngIf="{feed: feed$ | async} as vm">
      <app-feed-sidebar [feed]="vm?.feed"></app-feed-sidebar>
    </ng-container>
  </div>
</div>
